<a href="https://colab.research.google.com/github/Champioa00/LAB1/blob/master/LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import required packages #
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.arima_model import ARIMA
#from botocore.client import Config
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt
from fbprophet import Prophet
import statsmodels.api as sm
from  multiprocessing import Pool, cpu_count
import pandas as pd
import numpy as np
#import ibm_boto3
import itertools
import types
import math
import time

sns.set(rc={'figure.figsize':(11.7,8.27)})
%matplotlib inline

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [21]:
df_data_1 = pd.read_csv('Zip_zhvi_uc_sfr_month.csv', encoding='ISO-8859-1')

In [23]:
df_data_1.head

<bound method NDFrame.head of        RegionID  SizeRank  RegionName  ...    11/30/2021    12/31/2021     1/31/2022
0         61639         0       10025  ...  2.600348e+06  2.563603e+06  2.729760e+06
1         84654         1       60657  ...  8.389180e+05  8.381373e+05  8.495258e+05
2         61637         2       10023  ...  5.143927e+06  5.115112e+06  5.111999e+06
3         91982         3       77494  ...  4.658952e+05  4.687325e+05  4.786334e+05
4         84616         4       60614  ...  1.131157e+06  1.127295e+06  1.141322e+06
...         ...       ...         ...  ...           ...           ...           ...
31985     87060     34430       66045  ...  2.756580e+05  2.719487e+05  2.724790e+05
31986     90986     34430       75599  ...  7.116641e+04  7.157647e+04  7.104333e+04
31987     93912     34430       82335  ...  2.461027e+05  2.621004e+05  2.633532e+05
31988     58112     35187         803  ...  1.623279e+05  1.699015e+05  1.750580e+05
31989     58117     35187         822  ...  2.200801e+05  2.247823e+05  2.201235e+05

[31990 rows x 322 columns]>

In [27]:
na_values = df_data_1.isna().sum()
print(na_values)

RegionID       0
SizeRank       0
RegionName     0
RegionType     0
StateName      0
              ..
9/30/2021     60
10/31/2021    44
11/30/2021    26
12/31/2021     0
1/31/2022      0
Length: 322, dtype: int64

In [26]:
metro_area = pd.read_csv('OD.csv')
metro_area.head()

   ZIP CODE STATE  ...  County No.                            MSA Name
0       210    NH  ...        15.0  Boston-Cambridge-Quincy, MA-NH MSA
1       211    NH  ...        15.0  Boston-Cambridge-Quincy, MA-NH MSA
2       212    NH  ...        15.0  Boston-Cambridge-Quincy, MA-NH MSA
3       213    NH  ...        15.0  Boston-Cambridge-Quincy, MA-NH MSA
4       214    NH  ...        15.0  Boston-Cambridge-Quincy, MA-NH MSA

[5 rows x 8 columns]

In [17]:
print(metro_area.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43508 entries, 0 to 43507
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ZIP CODE    43508 non-null  float64
 1   STATE       43508 non-null  object
 2   MSA No.     43497 non-null  float64
 3   GPCI_W      43497 non-null  float64
 4   GPCI_PE     43497 non-null  float64
 5   GPCI_ME     43497 non-null  float64
 6   County No.  43496 non-null  float64
 7   MSA Name    43497 non-null  object
dtypes: float64(6), object(2)
memory usage: 2.7+ MB
None

In [16]:
## Clean up Numeric Columns ## 
## Select all the numeric columns ## 
MA_num_columns = ['ZIP CODE']

## Remove $, ",", and replace "--" with "0" ## 
for i in MA_num_columns:
    metro_area[i] = metro_area[i].astype(float)

In [19]:
print(df_data_1.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4891 entries, 0 to 14
Columns: 322 entries, RegionID to 1/31/2022
dtypes: float64(313), int64(3), object(6)
memory usage: 12.1+ MB
None

In [10]:
# Keep data with missing metro name. 
missing_metro = df_data_1[df_data_1['Metro'].isna()]
missing_index = missing_metro.index

# Drop observation without Metro data. These observations will then be reattached
df_metro_complete = df_data_1.drop(index=missing_index)

# Keep zip code and msa name from the metro_area data set
metro_area_simp = metro_area[['ZIP CODE', 'MSA Name']]

# Merge missing metro with metro_area_simp 
metro_complete = missing_metro.merge(metro_area_simp, how='left', left_on='RegionName', right_on='ZIP CODE')

In [11]:
# Check to see that there are no NaN variables in the new column. 
print(metro_complete['MSA Name'].isna().sum())

# There are no NaN values now. We'll now replace the Metro column with the MSA Name column, drop the overlapping columns, and 
# reattach the observations to the df_data_1 data set. 
metro_complete['Metro'] = metro_complete['MSA Name']
metro_complete1 = metro_complete.iloc[:, 0:280]

# Reattach data to original data. 
df_data_1 = df_metro_complete.append(metro_complete1)
print(df_data_1.shape)

0
(4891, 322)

In [18]:
# Obtain column names of year-month combinations. 
year_month = df_data_1.iloc[:, 7:].columns.values

df_data_2 = df_data_1

TypeError: ignored

In [ ]:
coachdf.head()

In [14]:
df_data_2.describe()

            RegionID     SizeRank  ...    12/31/2021     1/31/2022
count    4891.000000  4891.000000  ...  4.875000e+03  4.875000e+03
mean    84275.123288  2456.670006  ...  5.218541e+05  5.303707e+05
std     37003.807435  1422.653427  ...  5.329724e+05  5.390663e+05
min     58004.000000     0.000000  ...  4.060787e+04  4.050997e+04
25%     70827.000000  1223.500000  ...  2.548581e+05  2.581779e+05
50%     80330.000000  2450.000000  ...  3.776978e+05  3.836523e+05
75%     93680.500000  3689.500000  ...  5.909185e+05  6.013025e+05
max    753844.000000  4923.000000  ...  9.474376e+06  9.333576e+06

[8 rows x 316 columns]