<a href="https://colab.research.google.com/github/Champioa00/LAB1/blob/master/LAB2V2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
## LAB 2 ##
## Anthony Champion ##
## IST 718 ##

In [23]:
## Load required packages ##
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.arima_model import ARIMA
#from botocore.client import Config
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt
from fbprophet import Prophet
import statsmodels.api as sm
from  multiprocessing import Pool, cpu_count
import pandas as pd
import numpy as np
#import ibm_boto3
import itertools
import types
import math
import time

sns.set(rc={'figure.figsize':(11.7,8.27)})
%matplotlib inline

DATA Cleaning:

Let's start with importing the difffernt data sets.  From there we can explore and perform the needed data cleansing.

In [24]:
df_data_1 = pd.read_csv('Zip_zhvi_uc_sfr_month.csv')
df_data_1.head()

   RegionID  SizeRank  RegionName  ...       2021-11       2021-12       2022-01
0     61639         0       10025  ...  2.600348e+06  2.563603e+06  2.729760e+06
1     84654         1       60657  ...  8.389180e+05  8.381373e+05  8.495258e+05
2     61637         2       10023  ...  5.143927e+06  5.115112e+06  5.111999e+06
3     91982         3       77494  ...  4.658952e+05  4.687325e+05  4.786334e+05
4     84616         4       60614  ...  1.131157e+06  1.127295e+06  1.141322e+06

[5 rows x 322 columns]

In [72]:
## Check to see if the data was loaded correctly ##
na_values = df_data_1.isna().sum()
print(na_values)

RegionID      0
SizeRank      0
RegionName    0
RegionType    0
StateName     0
             ..
2021-09       1
2021-10       1
2021-11       1
2021-12       1
2022-01       1
Length: 322, dtype: int64

In [73]:
## Load in metro data from the US Department of Labor ##
metro_area = pd.read_csv('OD.csv')
metro_area.head()

   ZIP CODE STATE  ...  County No.                            MSA Name
0       210    NH  ...        15.0  Boston-Cambridge-Quincy, MA-NH MSA
1       211    NH  ...        15.0  Boston-Cambridge-Quincy, MA-NH MSA
2       212    NH  ...        15.0  Boston-Cambridge-Quincy, MA-NH MSA
3       213    NH  ...        15.0  Boston-Cambridge-Quincy, MA-NH MSA
4       214    NH  ...        15.0  Boston-Cambridge-Quincy, MA-NH MSA

[5 rows x 8 columns]

In [74]:
# Keep data with missing metro name. 
missing_metro = df_data_1[df_data_1['Metro'].isna()]
missing_index = missing_metro.index

# Drop observation without Metro data. These observations will then be reattached
df_metro_complete = df_data_1.drop(index=missing_index)

# Keep zip code and msa name from the metro_area data set
metro_area_simp = metro_area[['ZIP CODE', 'MSA Name']]

# Merge missing metro with metro_area_simp 
metro_complete = missing_metro.merge(metro_area_simp, how='left', left_on='RegionName', right_on='ZIP CODE')

In [78]:
# Check to see that there are no NaN variables in the new column. 
print(metro_complete['MSA Name'].isna().sum())

# There are no NaN values now. We'll now replace the Metro column with the MSA Name column, drop the overlapping columns, and 
# reattach the observations to the df_data_1 data set. 
metro_complete['Metro'] = metro_complete['MSA Name']
metro_complete1 = metro_complete.iloc[:, 0:322]

# Reattach data to original data. 
df_data_1 = df_metro_complete.append(metro_complete1)
print(df_data_1.shape)

0
(7246, 322)

In [57]:
# Obtain column names of year-month combinations. 
year_month = df_data_1.iloc[:, 9:].columns.values

df_data_2 = df_data_1

# Iterate over year-month combination, replacing NaN with average value for metropolitan area 
for ym in df_data_2[year_month]:
    df_data_2[ym] = df_data_2.groupby('Metro')[ym].transform(lambda x: x.fillna(x.mean()))

In [58]:
df_data_2.describe()

            RegionID     SizeRank  ...       2021-12       2022-01
count    7246.000000  7246.000000  ...  7.246000e+03  7.246000e+03
mean    83555.852056  3644.122136  ...  4.949445e+05  5.029324e+05
std     36996.315051  2108.956358  ...  5.218747e+05  5.296139e+05
min     58004.000000     0.000000  ...  2.670589e+04  2.569998e+04
25%     70361.750000  1816.250000  ...  2.355801e+05  2.388116e+05
50%     79044.500000  3643.000000  ...  3.595620e+05  3.652577e+05
75%     92653.750000  5470.000000  ...  5.668911e+05  5.768760e+05
max    753844.000000  7297.000000  ...  9.578143e+06  9.990806e+06

[8 rows x 316 columns]

In [59]:
df_data_2.head()

   RegionID  SizeRank  RegionName  ...       2021-11       2021-12       2022-01
0     61639         0       10025  ...  2.600348e+06  2.563603e+06  2.729760e+06
1     84654         1       60657  ...  8.389180e+05  8.381373e+05  8.495258e+05
2     61637         2       10023  ...  5.143927e+06  5.115112e+06  5.111999e+06
3     91982         3       77494  ...  4.658952e+05  4.687325e+05  4.786334e+05
4     84616         4       60614  ...  1.131157e+06  1.127295e+06  1.141322e+06

[5 rows x 322 columns]

In [124]:
# Columns that want to be kept
to_keep = ['RegionName']

# Columns to be converted to observations
to_obs = df_data_2.iloc[:,9:]

# Pivot the data to have on observation for each region for each year-month. 
df_data_pivot = pd.pivot_table(df_data_2, columns=to_keep, values=to_obs)

# Reset the index and rename year-month and values columns for easy identification.
df_data_pivot = df_data_pivot.reset_index()
df_data_pivot.rename(columns={'level_0':'date', 1:'value'}, inplace=True)

# Convert data column to datetime
df_data_pivot['index'] = pd.to_datetime(df_data_pivot['index'], infer_datetime_format=True)


# Print first five rows
df_data_pivot.sort_values(['index']).head()

RegionName      index            602  612  ...  99705  99709  99801
0          1996-01-01  133836.195920  NaN  ...    NaN    NaN    NaN
1          1996-02-01  133582.933764  NaN  ...    NaN    NaN    NaN
2          1996-03-01  133638.841798  NaN  ...    NaN    NaN    NaN
3          1996-04-01  133335.193510  NaN  ...    NaN    NaN    NaN
4          1996-05-01  133626.838368  NaN  ...    NaN    NaN    NaN

[5 rows x 7247 columns]

In [126]:
print(df_data_pivot.shape)
print(df_data_pivot.dtypes)

(313, 7247)
RegionName
index    datetime64[ns]
602             float64
612             float64
662             float64
693             float64
              ...
99654           float64
99701           float64
99705           float64
99709           float64
99801           float64
Length: 7247, dtype: object

In [117]:
# Print the first and last date of the data 
print('Oldest observation: ', df_data_pivot['index'].min())
print('Newest observation: ', df_data_pivot['index'].max(), '\n')

Oldest observation:  1996-01-01 00:00:00
Newest observation:  2022-01-01 00:00:00

In [120]:
df_data_pivot = df_data_pivot.reset_index()

In [119]:
# Create a new data frame to average value per date. Keep observations starting from December 2008 to plot. 
national = df_data_pivot.groupby('index')['value'].mean()
national = national.reset_index()
national.columns = ['index', 'avg_value']
national = national[national['index']>='2022-01-01']
print(national.head())

# Plot the data as a line plot. 
national.plot(x='date', y='avg_value')
_ = plt.xlabel('Date')
_ = plt.ylabel('Avg Value')
_ = plt.title('Avg Value by Date')
plt.show()

KeyError: ignored