<a href="https://colab.research.google.com/github/Champioa00/LAB1/blob/master/YESSIR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [189]:
## LAB 2 ##
## Anthony Champion ##
## IST 718 ##

In [190]:
## Load required packages ##
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.arima_model import ARIMA
#from botocore.client import Config
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt
from fbprophet import Prophet
import statsmodels.api as sm
from  multiprocessing import Pool, cpu_count
import pandas as pd
import numpy as np
#import ibm_boto3
import itertools
import types
import math
import time

sns.set(rc={'figure.figsize':(11.7,8.27)})
%matplotlib inline

DATA Cleaning:

Let's start with importing the difffernt data sets.  From there we can explore and perform the needed data cleansing.

In [191]:
df_data_1 = pd.read_csv('Zip_zhvi_uc_sfr_month.csv')
df_data_1.head()

   RegionID  SizeRank  RegionName  ...       2021-11       2021-12       2022-01
0     61639         0       10025  ...  2.600348e+06  2.563603e+06  2.729760e+06
1     84654         1       60657  ...  8.389180e+05  8.381373e+05  8.495258e+05
2     61637         2       10023  ...  5.143927e+06  5.115112e+06  5.111999e+06
3     91982         3       77494  ...  4.658952e+05  4.687325e+05  4.786334e+05
4     84616         4       60614  ...  1.131157e+06  1.127295e+06  1.141322e+06

[5 rows x 322 columns]

In [ ]:
list(na_values.index)

In [ ]:
na_values = df_data_1.isna().sum()
list(na_values)

In [192]:
## Check to see if the data was loaded correctly ##
na_values = df_data_1.isna().sum()
print(na_values)

RegionID       0
SizeRank       0
RegionName     0
RegionType     0
StateName      0
              ..
2021-09       60
2021-10       44
2021-11       26
2021-12        0
2022-01        0
Length: 322, dtype: int64

In [198]:
## Load in metro data from the US Department of Labor ##
metro_area = pd.read_csv('OD.csv')
metro_area.head()

   ZIP CODE STATE  ...  County No.                            MSA Name
0       210    NH  ...        15.0  Boston-Cambridge-Quincy, MA-NH MSA
1       211    NH  ...        15.0  Boston-Cambridge-Quincy, MA-NH MSA
2       212    NH  ...        15.0  Boston-Cambridge-Quincy, MA-NH MSA
3       213    NH  ...        15.0  Boston-Cambridge-Quincy, MA-NH MSA
4       214    NH  ...        15.0  Boston-Cambridge-Quincy, MA-NH MSA

[5 rows x 8 columns]

In [201]:
# Keep data with missing metro name. 
missing_metro = df_data_1[df_data_1['Metro'].isna()]
missing_index = missing_metro.index

# Drop observation without Metro data. These observations will then be reattached
df_metro_complete = df_data_1.drop(index=missing_index)

# Keep zip code and msa name from the metro_area data set
metro_area_simp = metro_area[['ZIP CODE', 'MSA Name']]

# Merge missing metro with metro_area_simp 
metro_complete = missing_metro.merge(metro_area_simp, how='left', left_on='RegionName', right_on='ZIP CODE')

In [233]:
# Check to see that there are no NaN variables in the new column. 
print(metro_complete['MSA Name'].isna().sum())

# There are no NaN values now. We'll now replace the Metro column with the MSA Name column, drop the overlapping columns, and 
# reattach the observations to the df_data_1 data set. 
metro_complete['Metro'] = metro_complete['MSA Name']
metro_complete1 = metro_complete.iloc[:, 0:322]

# Reattach data to original data. 
df_data_1 = df_metro_complete.append(metro_complete1)
print(df_data_1.shape)

0
(31990, 322)

In [235]:
from tqdm import tqdm

In [241]:
df_data_2

      RegionID  SizeRank  RegionName  ...       2021-11       2021-12       2022-01
0        61639         0       10025  ...  2.600348e+06  2.563603e+06  2.729760e+06
1        84654         1       60657  ...  8.389180e+05  8.381373e+05  8.495258e+05
2        61637         2       10023  ...  5.143927e+06  5.115112e+06  5.111999e+06
3        91982         3       77494  ...  4.658952e+05  4.687325e+05  4.786334e+05
4        84616         4       60614  ...  1.131157e+06  1.127295e+06  1.141322e+06
...        ...       ...         ...  ...           ...           ...           ...
7920     80874     34430       52204  ...  2.074747e+05  2.178128e+05  2.178315e+05
7921     86881     34430       65623  ...  1.052729e+05  1.044042e+05  1.060980e+05
7922     66325     34430       20250  ...  5.023526e+05  5.219916e+05  5.254660e+05
7923     92792     34430       79051  ...  9.799081e+04  1.042190e+05  1.047266e+05
7924     93912     34430       82335  ...  2.461027e+05  2.621004e+05  2.633532e+05

[31990 rows x 322 columns]

In [269]:
list(test.iloc[:,0:9].columns)

['RegionID',
 'SizeRank',
 'RegionName',
 'RegionType',
 'StateName',
 'State',
 'City',
 'Metro',
 'CountyName']

In [274]:
test = df_data_2.dropna()
final_df = pd.melt(test, id_vars=list(test.iloc[:,0:9].columns), value_vars=list(test.iloc[:,9:].columns))
final_df
final_df['variable'] = pd.to_datetime(final_df['variable'], infer_datetime_format=True)
print(final_df.shape)
print(final_df.dtypes)

(8410623, 11)
RegionID               int64
SizeRank               int64
RegionName             int64
RegionType            object
StateName             object
State                 object
City                  object
Metro                 object
CountyName            object
variable      datetime64[ns]
value                float64
dtype: object

In [ ]:
# Obtain column names of year-month combinations. 
year_month = df_data_1.iloc[:, 9:].columns.values

df_data_2 = df_data_1

# Iterate over year-month combination, replacing NaN with average value for metropolitan area 
for ym in tqdm(df_data_2[year_month]):
  print(ym)
  df_data_2[ym] = df_data_2.groupby('Metro')[ym].transform(lambda x: x.fillna(x.mean()))

In [219]:
df_data_2[ym]

0       2.729760e+06
1       8.495258e+05
2       5.111999e+06
3       4.786334e+05
4       1.141322e+06
            ...
7920    2.178315e+05
7921    1.060980e+05
7922    5.254660e+05
7923    1.047266e+05
7924    2.633532e+05
Name: 2022-01, Length: 31990, dtype: float64

In [234]:
df_data_1.groupby('Metro')[ym].transform(lambda x: x)[df_data_1.groupby('Metro')[ym].transform(lambda x: x).isna()]

Series([], Name: 2022-01, dtype: float64)

In [227]:
df_data_2.groupby('Metro')[ym].transform(lambda x: x.fillna(x.mean()))[df_data_2.groupby('Metro')[ym].transform(lambda x: x.fillna(x.mean())).isna()]

Series([], Name: 2022-01, dtype: float64)

In [215]:
df_data_2

      RegionID  SizeRank  RegionName  ...       2021-11       2021-12       2022-01
0        61639         0       10025  ...  2.600348e+06  2.563603e+06  2.729760e+06
1        84654         1       60657  ...  8.389180e+05  8.381373e+05  8.495258e+05
2        61637         2       10023  ...  5.143927e+06  5.115112e+06  5.111999e+06
3        91982         3       77494  ...  4.658952e+05  4.687325e+05  4.786334e+05
4        84616         4       60614  ...  1.131157e+06  1.127295e+06  1.141322e+06
...        ...       ...         ...  ...           ...           ...           ...
7920     80874     34430       52204  ...  2.074747e+05  2.178128e+05  2.178315e+05
7921     86881     34430       65623  ...  1.052729e+05  1.044042e+05  1.060980e+05
7922     66325     34430       20250  ...  5.023526e+05  5.219916e+05  5.254660e+05
7923     92792     34430       79051  ...  9.799081e+04  1.042190e+05  1.047266e+05
7924     93912     34430       82335  ...  2.461027e+05  2.621004e+05  2.633532e+05

[31990 rows x 322 columns]

In [206]:
df_data_2.describe()

            RegionID      SizeRank  ...       2021-12       2022-01
count   31990.000000  31990.000000  ...  3.199000e+04  3.199000e+04
mean    80501.185433  16531.073367  ...  3.224347e+05  3.263482e+05
std     25066.553440   9795.185681  ...  3.768795e+05  3.831451e+05
min     58001.000000      0.000000  ...  1.350774e+04  1.355000e+04
25%     68951.250000   8062.250000  ...  1.425339e+05  1.432697e+05
50%     79459.500000  16188.000000  ...  2.229924e+05  2.250068e+05
75%     89253.750000  24938.000000  ...  3.716941e+05  3.767082e+05
max    753844.000000  35187.000000  ...  9.578143e+06  9.990806e+06

[8 rows x 316 columns]

In [207]:
df_data_2.head()

   RegionID  SizeRank  RegionName  ...       2021-11       2021-12       2022-01
0     61639         0       10025  ...  2.600348e+06  2.563603e+06  2.729760e+06
1     84654         1       60657  ...  8.389180e+05  8.381373e+05  8.495258e+05
2     61637         2       10023  ...  5.143927e+06  5.115112e+06  5.111999e+06
3     91982         3       77494  ...  4.658952e+05  4.687325e+05  4.786334e+05
4     84616         4       60614  ...  1.131157e+06  1.127295e+06  1.141322e+06

[5 rows x 322 columns]

In [208]:
# Columns that want to be kept
to_keep = ['RegionName', 'State']

# Columns to be converted to observations
to_obs = df_data_2.iloc[:,9:]

# Pivot the data to have on observation for each region for each year-month. 
df_data_pivot = pd.pivot_table(df_data_2, columns=to_keep, values=to_obs)

# Reset the index and rename year-month and values columns for easy identification.
df_data_pivot = df_data_pivot.reset_index()
df_data_pivot.rename(columns={'level_0':'date', 0:'value'}, inplace=True)

# Convert data column to datetime
df_data_pivot['index'] = pd.to_datetime(df_data_pivot['index'], infer_datetime_format=True)

# Print first five rows
df_data_pivot.sort_values(['index']).head()

RegionName      index            501 601            602  ... 99801 99824 99833 99901
State                             NY  MS             AL  ...    AK    AK    AK    AK
0          1996-01-01  228165.313018 NaN  154415.831725  ...   NaN   NaN   NaN   NaN
1          1996-02-01  233969.358296 NaN  152604.043452  ...   NaN   NaN   NaN   NaN
2          1996-03-01  233133.064945 NaN  152996.856036  ...   NaN   NaN   NaN   NaN
3          1996-04-01  233443.970861 NaN  152611.516944  ...   NaN   NaN   NaN   NaN
4          1996-05-01  237353.998041 NaN  153249.023618  ...   NaN   NaN   NaN   NaN

[5 rows x 31991 columns]

In [188]:
print(df_data_pivot.shape)
print(df_data_pivot.dtypes)

(313, 31991)
RegionName  State
index                datetime64[ns]
501         NY              float64
601         MS              float64
602         AL              float64
605         AL              float64
                          ...
99789       AK              float64
99801       AK              float64
99824       AK              float64
99833       AK              float64
99901       AK              float64
Length: 31991, dtype: object

In [163]:
df_data_pivot.head()

RegionName      index            602      612  ...      99705     99709  99801
City                          Auburn Frederic  ... North Pole Fairbanks Juneau
0          1996-01-01  133836.195920      NaN  ...        NaN       NaN    NaN
1          1996-02-01  133582.933764      NaN  ...        NaN       NaN    NaN
2          1996-03-01  133638.841798      NaN  ...        NaN       NaN    NaN
3          1996-04-01  133335.193510      NaN  ...        NaN       NaN    NaN
4          1996-05-01  133626.838368      NaN  ...        NaN       NaN    NaN

[5 rows x 7247 columns]

In [164]:
# Print the first and last date of the data 
print('Oldest observation: ', df_data_pivot['index'].min())
print('Newest observation: ', df_data_pivot['index'].max(), '\n')

Oldest observation:  1996-01-01 00:00:00
Newest observation:  2022-01-01 00:00:00